<div class="add-db-pop-out-full-screen">
  <div class="add-db-pop-out-panel">
    <div class="add-db-pop-out-head">
      <span class="glyphicon glyphicon-remove add-db-pop-out-close-btn" (click)="callback()"></span>
      <h1>Add New Database</h1>
    </div>
    <div class="add-db-pop-out-content">
      <div class="add-db-pop-out-option">
        <div class="add-db-pop-out-option-btn {{!showUploadBlock? 'actived' : ''}}" (click)="showUploadBlock=false">ADD</div>
        <div class="add-db-pop-out-option-btn {{showUploadBlock? 'actived' : ''}}" (click)="showUploadBlock=true">UPLOAD</div>
      </div>
      <div class="add-db-pop-out-block" *ngIf="!showUploadBlock">
        <div class="add-db-pop-out-row">
          <div class="add-db-pop-out-col-name">
            Database Name
          </div>
          <div class="add-db-pop-out-col-val">
            <input [(ngModel)]="dbName" type="text" placeholder="Name">
          </div>
        </div>
        <div class="add-db-pop-out-row">
          <div class="add-db-pop-out-col-name">
            Default Currency
          </div>
          <div class="add-db-pop-out-col-val">
            <select [(ngModel)]="currencyType">
              <option *ngFor="let type of currencyList" value="{{type}}">{{type}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="add-db-pop-out-block" *ngIf="showUploadBlock">
        <div class="add-db-pop-out-row">
          <div class="add-db-pop-out-col-name">
            Database Name
          </div>
          <div class="add-db-pop-out-col-val">
            <input [(ngModel)]="dbName" type="text" placeholder="Name">
          </div>
        </div>
        <div class="add-db-pop-out-row">
          <div class="add-db-pop-out-col-name">
            Upload db File
          </div>
          <div class="add-db-pop-out-col-val">
            <input (change)="selectUploadFile($event)" type="file" name="uploadFile">
          </div>
        </div>
      </div>
      <div class="add-db-pop-out-submit-row">
        <div class="add-db-pop-out-create-btn" (click)="createDB()">
          Create
        </div>
      </div>
    </div>
  </div>
</div>
