<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/components/common.css" />
  <link rel="stylesheet" href="/css/components/<%= css %>" />

  <script src="/js/jquery-2.1.1.min.js" /></script>
  <script>
  	function redirect(){
  		var _val = $("#redirect").val()
  		if(_val){
  			location.href="/"+_val;
  		}
  	}
  </script>
</head>
<body>
	<a class="btn-home" href="/"></a>
	
	<select id="redirect" onchange="redirect()">
		<option value="">-- select --</option>
		<option value="fs">File System</option>
		<option value="levelup">Levelup</option>
    <option value="sqlite3">Sqlite3</option>
    <option value="sequelize">Sequelize</option>
    <option value="mongodb">mongoDB</option>
    <option value="helenus">Helenus</option>
	</select>


	<div class="table-div">
		<div class="table-td">
