<% include header.html %>

<span class="">Levelup <span class="add" onclick="addData()">+</span> MemDOWN</span>
<br>
<% data.forEach(function(data){ %>
	<div class="block">
		<span class="delete" onclick="deleteData.call(this,'<%= data.key %>')">X</span>
		<span><%= data.key %> : </span>
		<input type="text" value="<%= data.value %>" onchange="update('<%= data.key %>',this.value)">
	</div>
<% }) %>


<% include footer.html %>

<script>
	
	function update(key,val){
		var _data = {};
		_data[key] = val;
		$.ajax({
			url : "/levelup/update",
			type : "POST",
			data : _data
		})
	}

	function deleteData(key){
		var _data = {};
		_data[key] = "";
		$.ajax({
			url : "/levelup/delete",
			type : "POST",
			data : _data
		});

		$(this).parent("div").remove();
	}

	function addData(){
		var _key = prompt("Input your KEY : ");
		var _val = prompt("Input your Value : ");
		
		var _data = {};
		_data[_key] = _val;

		$.ajax({
			url : "/levelup/add",
			type : "POST",
			data : _data,
			success : function(){
				location.reload();
			}
		});

		
	}
	
</script>