/**********************************************/
/****************** division ******************/
/**********************************************/
#lobby-menu .menu-block{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

#lobby-menu .menu-block:hover{
    background-color: rgba(117, 117, 117, 0.45);
}

/**********************************************/
/****************** division ******************/
/**********************************************/
#lobby-menu .menu-tools{
    transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;

    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

#lobby-menu .menu-tools:hover{
    transform: rotate(450deg);
    -webkit-transform: rotate(450deg);
}

/**********************************************/
/****************** division ******************/
/**********************************************/
.btn-recover{
    transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;

    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.btn-recover:hover{
    transform: rotate(-450deg);
    -webkit-transform: rotate(-450deg);
    background-color: rgba(0, 136, 255, 0.7);
}

.btn-recover:active{
    transform: rotate(-1800deg);
    -webkit-transform: rotate(-1800deg);
    background-color: rgba(0, 136, 255, 1);
}

/**********************************************/
/****************** division ******************/
/**********************************************/
#setting .setting-menu-wrap{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

#setting .setting-menu-wrap:hover{
    background-color: rgba(140, 140, 140, 0.45);
    color: gray;
}

/**********************************************/
/****************** division ******************/
/**********************************************/
#showType .btn-add-word{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

#showType .btn-add-word:hover{
    background-color: rgb(0, 110, 208);
}



#showType .btn-add-word:before{
    content: "";
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.57);
    height: 35px;
    margin-top: -8px;
    transform: rotate(21deg);
    width: 10px;
    opacity: 0;


    -webkit-animation-name: webkit-showType-btn-add-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

    animation-name: showType-btn-add-out;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;  

}

#showType .btn-add-word:hover:before{
    -webkit-animation-name: webkit-showType-btn-add-in;
    animation-name: showType-btn-add-in;
}

@-webkit-keyframes webkit-showType-btn-add-in {
    0% {opacity: 0;margin-left: -20px;}
    50%  {opacity: 1;}
    100% {opacity: 0;margin-left: 20px;}

}

@-webkit-keyframes webkit-showType-btn-add-out {
    20%  {opacity: 1;}
    100% {opacity: 0;margin-left: -20px;}
}

@keyframes showType-btn-add-in {
    0% {opacity: 0;margin-left: -20px;}
    50%  {opacity: 1;}
    100% {opacity: 0;margin-left: 20px;}

}

@keyframes showType-btn-add-out {
    20%  {opacity: 1;}
    100% {opacity: 0;margin-left: -20px;}
}


/**********************************************/
/****************** division ******************/
/**********************************************/
#showCurrency .btn-add-word{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

#showCurrency .btn-add-word:hover{
    background-color: rgb(0, 110, 208);
}



#showCurrency .btn-add-word:before{
    content: "";
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.57);
    height: 35px;
    margin-top: -8px;
    transform: rotate(21deg);
    width: 10px;
    opacity: 0;


    -webkit-animation-name: webkit-showCurrency-btn-add-out;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

    animation-name: showCurrency-btn-add-out;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;  

}

#showCurrency .btn-add-word:hover:before{
    -webkit-animation-name: webkit-showCurrency-btn-add-in;
    animation-name: showCurrency-btn-add-in;
}

@-webkit-keyframes webkit-showCurrency-btn-add-in {
    0% {opacity: 0;margin-left: -20px;}
    50%  {opacity: 1;}
    100% {opacity: 0;margin-left: 20px;}

}

@-webkit-keyframes webkit-showCurrency-btn-add-out {
    20%  {opacity: 1;}
    100% {opacity: 0;margin-left: -20px;}
}

@keyframes showCurrency-btn-add-in {
    0% {opacity: 0;margin-left: -20px;}
    50%  {opacity: 1;}
    100% {opacity: 0;margin-left: 20px;}

}

@keyframes showCurrency-btn-add-out {
    20%  {opacity: 1;}
    100% {opacity: 0;margin-left: -20px;}
}

/**********************************************/
/****************** division ******************/
/**********************************************/
.td{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

/**********************************************/
/****************** division ******************/
/**********************************************/
.td.error{

    -webkit-animation-name: webkit-tdError;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

    animation-name: tdError;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;  
}

@-webkit-keyframes webkit-tdError {
    0% { background-color: rgba(255, 0, 0, 0.2);}
    100% { background-color: rgba(255, 0, 0, 0.4);}
}

@keyframes tdError {
    0% { background-color: rgba(255, 0, 0, 0.2);}
    100% { background-color: rgba(255, 0, 0, 0.4);}

}

/**********************************************/
/****************** division ******************/
/**********************************************/
.doubleCheckDelete>.td{

    -webkit-animation-name: webkit-doubleCheckDelete;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

    animation-name: doubleCheckDelete;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;  
}

@-webkit-keyframes webkit-doubleCheckDelete {
    0% { background-color: rgba(255, 0, 0, 0.2);}
    100% { background-color: rgba(255, 0, 0, 0.4);}
}

@keyframes doubleCheckDelete {
    0% { background-color: rgba(255, 0, 0, 0.2);}
    100% { background-color: rgba(255, 0, 0, 0.4);}

}
/**********************************************/
/****************** division ******************/
/**********************************************/
.isDeleted>.td{
    -webkit-animation-name: webkit-tdisDeleted;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

    animation-name: tdisDeleted;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;  
}

@-webkit-keyframes webkit-tdisDeleted {
    0% {
        opacity: 0.7;
        background-color: rgba(0, 0, 0, 0.7);
    }
    100% { 
        opacity: 0.65;
        background-color: rgba(0, 0, 0, 0.65);
    }
}

@keyframes tdisDeleted {
    0% {
        opacity: 0.7;
        background-color: rgba(0, 0, 0, 0.7);
    }
    100% { 
        opacity: 0.65;
        background-color: rgba(0, 0, 0, 0.65);
    }


}
/**********************************************/
/****************** division ******************/
/**********************************************/
#record #currencyList{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
#record .td-currency{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

/**********************************************/
/****************** division ******************/
/**********************************************/
.btn-done{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.btn-done:hover{
    border: 1px solid rgba(17, 34, 51, 0.8);
    background-color: rgba(5, 128, 239, 0.96);
}


/**********************************************/
/******************  sample  ******************/
/**********************************************
    #sample{
        transition-duration: 2s;
        -webkit-transition-duration: 2s;

        -webkit-animation-name: -webkit-sample;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-direction: alternate;
        -webkit-animation-play-state: running;
        
        animation-name: sample;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-play-state: running;

    }

    @keyframes sample {
        0%   {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

    @-webkit-keyframes -webkit-sample {
        0%   {-webkit-transform: rotate(0deg);}
        100% {-webkit-transform: rotate(360deg);}
    }