
body{
	margin: 0;
	padding: 0;
}

.hidden{
	display : none;
}

/**** #manageDB ***/
#manageDB .progress-bar{
	display: inline-block;
	width: 0%;
	background-color: rgb(61, 139, 232);
	transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s; /* Safari */

}

#manageDB .progress-bar.done{
	background-color: green;
}

#manageDB .progress-bar.error{
	background-color: red;
}

#manageDB .progress-bar, #manageDB .progress-block{
	height: 20px;
}

#manageDB .progress-block {
	display: inline-block;
	border: solid 1px #C2C2C2;
	width: 200px;
	border-radius: 10px;
	overflow: hidden;
}

#manageDB .progress-msg {
	line-height: 20px;
	display: block;
	text-align: center;
	height: 0px;
	z-index: 99999;
	transform: translate3d(0px, 0px , 100px);
	color: rgb(209, 209, 209);
	white-space: nowrap;
}

/**** #lobby-menu ***/
#lobby-menu{
	color: white;
	background-color: black;
	line-height: 50px;
}

#lobby-menu .logo{
	display : inline-block;
	width: 100px;
	text-align: center;
	cursor: pointer;
}

#lobby-menu .menu-block{
	display : inline-block;
	
	width: 130px;
	padding: 0px 10px;
	text-align: center;
	cursor: pointer;
}

#lobby-menu .menu-tools{
	float: right;
	margin-right: 10px;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	background-size: cover;
	background-image: url(/img/hacking-tools.png);
	cursor: pointer;
}

#lobby-menu .menu-user{
	display : inline-block;
	float: right;
	margin-right: 25px;
}

/**** #setting ***/
#setting .setting-menu-block{
	display: inline-table;
	width: 100%;
	text-align: center;
	table-layout: fixed;
}

#setting .setting-menu-wrap {
	display: table-cell;
	background-color: grey;
	color: white;
	cursor: pointer;
	line-height: 36px;
	border-style: solid;
	border-width: 1px;
}

/**** #showCurrency ***/
#showCurrency .cell {
	padding: 0px 15px;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: rgb(163, 163, 163);
}

/**** #showType ***/
#showType .table{
	display: inline-table;
}

#showType .td{
	display: table-cell;
	border: solid 1px #B7B7B7;
	text-align: left;
	vertical-align: middle;
}

#showType input, #showType select{
	border:0;
}

#showType #type_label{
	line-height: 36px;
	vertical-align: top;
	padding: 0px 10px;
}

#showType .addType {
	text-align: center;
}

#showType #cashType, #showType #parent_tid {
	height: 36px;
	vertical-align: top;
}

#showType .wrapper {
	display: inline-block;
	min-width: 120px;
	margin-left: 10px;
}

#showType .td-add{
	border-color: transparent;
}

#showType .btn-add {
	border-radius: 15px;
	margin-right: 10px;
	margin-top: 5px;
	overflow: hidden;
	display: inline-block;
}

#showType .btn-add-word {
	display: inline-block;
	background-color: rgb(76, 171, 255);
	padding: 5px 10px;
	color: aliceblue;
	cursor: pointer;
}

#showType #type_label.error{
	background-color: rgb(78, 78, 78);
}

#showType .typeMaps-Wrapper{
	list-style-type: none;
}

#showType .typeMaps-unclassified_typeMaps{
	background-color: rgba(78, 78, 78, 0.3);
}