<h1>Add Records</h1>
<div *ngIf="__isInit && __checkDataUpToDate()" class="record-add-panel record-{{ newRecord.cashType == -1 ? 'cost' : 'earn'}}">
  <div class="col-sm-1 record-add-option">
    <span class="glyphicon glyphicon-{{newRecord.cashType == 1 ? 'plus' : 'minus'}} record-add-btn" (click)="addRecord()"></span>
    <span class="glyphicon glyphicon-triangle-bottom" (click)="newRecord.cashType = newRecord.cashType == 1 ? -1 : 1"></span>
  </div>
  <div class="col-sm-10">
    <div class="col-md-3 col-sm-5">
      <div class="record-add-input-block">
        <div class="record-add-input-col record-add-price-block">
          <span currency-selection [inputCid]="newRecord.cid" [callback]="getSelectionCallback(newRecord)" ></span>
          <input type="number" class="records-price-input" [(ngModel)]="newRecord.value" />
        </div>
        <div class="record-add-input-col">
          <input type="text" class="records-memo-input" [(ngModel)]="newRecord.memo" placeholder="No memo" />
        </div>
        <div class="record-add-input-col">
          <input type="date" class="records-date-input" [(ngModel)]="newRecord.date" />
        </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-7">
      <div class="records-type-label" *ngFor="let tid of getRecordTidsArr()" (click)="removeTypeInRecord(tid)">
        {{tidToLabel(tid)}}
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-md-12 records-type-title" (click)="showTypeMap=!showTypeMap">
      <span class="glyphicon glyphicon-th-list"></span> Type Map
    </div>
    <div class="col-md-12 records-type-quick-map">
      <div class="col-md-12 records-type-quick-map-title">
        <span class="glyphicon glyphicon-record"></span> Quick Map
      </div>
      <type-quick-list class="col-md-8 col-md-offset-2" [selectedTids]="newRecord.tids" [callback]="getRecordTypeMapSwitch(newRecord)"></type-quick-list>
    </div>
    <div class="col-md-12 records-type-map">
      <div class="col-md-12 records-type-map-title" (click)="showTypeMap=!showTypeMap">
        <span class="glyphicon glyphicon-option-vertical"></span> More Types
      </div>
      <div type-map-panel class="col-md-12 record-type-map-panel" *ngIf="showTypeMap" [selectedTids]="newRecord.tids" [callback]="getRecordTypeMapSwitch(newRecord)"></div>
    </div>
  </div>
</div>
<div *ngIf="__isInit" class="col-sm-12 records-recent-table">
  <div class="col-md-12 records-recent-title">
    <h1>Recent Add</h1>
  </div>
  <records-table class="col-md-12 " [records]="records"></records-table>
  <div>Query {{records?.length}} records.</div>
</div>
