.records-query-panel {
  display: inline-block;
}

.records-query-block-col {
  border: 1px solid;
  border-color: #e6e6e6;
  padding: 5px 10px;
  border-radius: 5px;
  color: #8b8b8b;
  input,
  select {
    border: 0;
  }
}

.records-query-block-col-label {
  color: grey;
  font-weight: 800;
  min-width: 100px;
  display: inline-block;
}

.records-query-price-input {
  width: 100px;
}

.records-query-block-item {
  display: inline-block;
  cursor: pointer;
}

.records-query-type-add {
  font-size: 12px;
  border: 1px solid;
  padding: 1px 10px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #eeeeee;
  vertical-align: middle;
  display: inline-block;
}

.records-number-top-hints {
  border: 3px double;
  display: inline-block;
  padding: 0px 20px;
  border-radius: 20px;
  background-color: #2196F3;
  color: white;
  margin-bottom: 10px;
}

.records-more-record,
.records-number-bottom-hint-block {
  text-align: center;
  padding: 10px 0px;
}

.records-more-record-hints,
.records-number-bottom-hints {
  border: 3px double;
  display: inline-block;
  padding: 2px 20px;
  font-size: 18px;
  border-radius: 20px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
}

.records-view-summarize-block {
  display: inline-block;
}