<div *ngIf="!currentNode && __checkDataUpToDate()">
  <div *ngFor="let node of childNode" class="verticalTree type-map-fragment-block">
    <ul>
      <li type-map-fragment [currentNode]="node" [parentNodes]="parentNodes" [typesFlat]="typesFlat" [typesMapFlatMeta]="typesMapFlatMeta" [selectedTids]="selectedTids" [disabledTids]="disabledTids" [callback]="callback"></li>
    </ul>
  </div>
</div>

<a *ngIf="currentNode =='_unclassified' && __checkDataUpToDate()" class="type-map-fragment-checkbox unclassified"
  >Unclassified</a>
<a *ngIf="currentNode && currentNode !='_unclassified' && __checkDataUpToDate()" class="type-map-fragment-checkbox {{classCheck(currentNode)}}" (click)="onSelect(currentNode)"
  >{{ typesFlat[currentNode].type_label }}</a>


<ul *ngIf="currentNode && childNode.length ">
  <li *ngFor="let node of childNode " type-map-fragment [currentNode]="node " [parentNodes]="parentNodes " [typesFlat]="typesFlat " [typesMapFlatMeta]="typesMapFlatMeta " [selectedTids]="selectedTids" [disabledTids]="disabledTids" [callback]="callback ">    
  </li>
</ul>