<div *ngIf="__isInit" class="record-sum-type-pie-chart-panel">
  <select [(ngModel)]="typeIdSelected" (change)="onSelectTid()">
    <option value="OVERVIEW">
      Overview
    </option>
    <option *ngFor="let tid of sumTidsHasChilds" value="{{tid}}">
      {{tidToLabel(tid)}}    
    </option>
    <option value="UNCLASSIFIED_TYPE">
      Unclassified Type    
    </option>
  </select>

  <ngx-charts-pie-chart
    [view]="typeSummerizeForPieChart.view"
    [results]="typeSummerizeForPieChart.single"
    [legend]="typeSummerizeForPieChart.showLegend"
    [legendTitle]="typeSummerizeForPieChart.legendTitle"
    [explodeSlices]="typeSummerizeForPieChart.explodeSlices"
    [labels]="typeSummerizeForPieChart.showLabels"
    [doughnut]="typeSummerizeForPieChart.doughnut"
    [gradient]="typeSummerizeForPieChart.gradient"
    (select)="typeSummerizeForPieChart.onSelect($event)">
  </ngx-charts-pie-chart>
</div>
