<div *ngIf="__isInit && __checkDataUpToDate()" class="table records-table">
  <div class="table-head">
    <div class="table-row row">
      <div class="table-col col-md-1">Option</div>
      <div class="table-col col-md-2">Price</div>
      <div class="table-col col-md-2">Type</div>
      <div class="table-col col-md-5">Memo</div>
      <div class="table-col col-md-2">Date</div>
    </div>
  </div>
  <div class="table-body">
    <div class="table-row animate-repeat row records-{{ record.cashType == -1 ? 'cost' : 'earn'}} {{record.status=='removed' ?  'records-removed' : ''}}" *ngFor="let record of records">
      <div class="table-col col-md-1">
        <div class="records-option-block">
          <span class="records-option-btn glyphicon glyphicon-trash" *ngIf="!record.status" (click)="record.status='removing'"></span>
          <span class="records-option-btn glyphicon glyphicon-floppy-saved" *ngIf="!record.status && record.isChange" (click)="saveRecord(record)"></span>
          <div class="records-del-confirm-block" *ngIf="record.status=='removing'">
            <span class="records-option-btn glyphicon glyphicon-triangle-left" (click)="record.status=''"></span>
            <span class="records-option-btn glyphicon glyphicon-floppy-remove" (click)="delRecord(record)"></span>
          </div>
        </div>
        <span class="records-option-btn glyphicon glyphicon-repeat" *ngIf="record.status=='removed'" (click)="reAdd(record)"></span>
      </div>
      <div class="table-col col-md-2 records-price-col">
        <span currency-selection [inputCid]="record.cid" [callback]="getSelectionCallback(record)" ></span>
        <input type="number" class="records-price-input" [(ngModel)]="record.value" (change)="recordChange(record)" />
      </div>
      <div class="table-col col-md-2">
        <div class="records-type-label" *ngFor="let tid of ObjKey(record.tids)" (click)="removeTypeInRecord(record, tid)">
          {{tidToLabel(tid)}}
        </div>
        <div class="records-type-add" *ngIf="!record.showTypeMap" (click)="record.showTypeMap=true">
          <span class="glyphicon glyphicon-plus"></span> Type
        </div>
      </div>
      <div class="table-col col-md-5">
        <input type="text" class="records-memo-input" [(ngModel)]="record.memo" placeholder="No memo" (change)="recordChange(record)" />
      </div>
      <div class="table-col col-md-2">
        <input type="date" class="records-date-input" [(ngModel)]="record.date" (change)="recordChange(record)" />
      </div>

      <div class="col-md-12 records-type-map" *ngIf="record.showTypeMap">
        <div class="records-type-map-title" (click)="record.showTypeMap=false">
          <span class="glyphicon glyphicon-chevron-up"></span>
          Type Map
        </div>
        <div type-map-panel class="record-type-map-panel" [selectedTids]="record.tids" [callback]="getRecordTypeMapSwitch(record)"></div>        
      </div>

    </div>
  </div>
</div>
