<!-- Static navbar -->
<nav class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="container">
    <!-- bs3: mobile navbar expand collapse without javascript custom
          ---------------------------------------------------------------
          insert checkbox
          change the "hamburger" icon from being a button to a label for checkbox
        --->
    <input type="checkbox" id="navbar-toggle-cbox">
    <div class="navbar-header">
      <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </label>
      <!-- customization ends here -->
      <a class="navbar-brand" href="#/dashboard">{{name}}</a>
    </div>
    <div *ngIf="getUserProfile() as user" id="navbar-right" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">{{user.mail}}</li>
            <li role="separator" class="divider"></li>
            <li><a href="#/profile">Set Profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse" *ngIf="isLogin()">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Record <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/records">View</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Operation</li>
            <li><a href="#/records/add">Add</a></li>
          </ul>
        </li>
        <li><a href="#/currency">Currency</a></li>
        <li><a href="#/types">Types</a></li>
        <li><a href="#/about">About</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
