.navbar-static-top {
  margin-bottom: 19px;
}

.logo.navbar-brand-logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  float: left;
  background-size: contain;
  filter: brightness(74);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -9px;
  margin-right: 10px;
}


/* bs3: mobile navbar without js custom
 * ------------------------------------
 * show the collapse when navbar toggle is checked */

#navbar-toggle-cbox:checked ~ .collapse {
  display: block;
}


/* the checkbox used only internally; don't display it */

#navbar-toggle-cbox {
  display: none
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav .container {
  width: initial;
}

#navbar-right {
  float: right;
  .dropdown-menu {
    right: 0;
    left: inherit;
  }
  a {
    cursor: pointer
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav .dropdown .dropdown-menu {
    display: block;
    position: initial;
    float: inherit;
  }
  #navbar-right {
    float: inherit;
  }
}
